
<form [formGroup]="passwordChangeFormGroup" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="start center">
  <mat-toolbar>
    <span>Change Password</span>
  </mat-toolbar>
  <mat-form-field>
    <input matInput id="password" formControlName="password" placeholder="Password" type="password">
    <mat-error *ngIf="passwordChangeFormGroup.get('password').hasError('invalidPasswordLength')">{{this.validationService.getValidatorErrorMessage('invalidPasswordLength')}}</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput id="passwordConfirm" formControlName="passwordConfirm" placeholder="Confirm Password" type="password">
    <mat-error *ngIf="passwordChangeFormGroup.get('passwordConfirm').hasError('pattern')">Passwords do not match!</mat-error>
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" [disabled]="!passwordChangeFormGroup.valid">
    Submit
  </button>
</form>
