<ngx-carousel
  [inputs]="carouselBanner"
  [moveToSlide]="1"
  (onMove)="onmoveFn($event)">
      <ngx-item NgxCarouselItem *ngFor="let carouselItem of (promoState | async).carouselItems">
        <div class="bannerStyle">
          <!-- May need anchor tag on some banners. -->
          <img [src]="carouselItem.bannerImgPath" [alt]="carouselItem.name">
        </div>
      </ngx-item>
      <button NgxCarouselPrev class='leftRs'>&lt;</button>
      <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>
