
<form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()" fxLayout="column" fxLayoutAlign="start center">
  <mat-toolbar>
    <span>Password Reset</span>
  </mat-toolbar>
  <mat-form-field>
    <input matInput id="username" formControlName="username" placeholder="Username" type="text">
  </mat-form-field>
  <mat-form-field>
    <input matInput id="email" formControlName="email" placeholder="Email" type="text">
  </mat-form-field>
  <button mat-raised-button type="submit" color="primary" [disabled]="!passwordResetForm.valid">
    Submit
  </button>
</form>
