<mat-toolbar color="primary">
  <!-- <button mat-button>
    <mat-icon>list</mat-icon>
  </button> -->
  <button mat-button routerLink='./promo' routerLinkActive="active">
    <img width="35" src="../assets/images/ATM_logo.png"/><b style="font-family:Eras ITC;font-size:150%">{{title}}</b>
  </button>
  <button mat-button routerLink="/products" routerLinkActive="active">
    Products
  </button>
  <button mat-button routerLink="/about" routerLinkActive="active">
    About Us
  </button>
  <div fxFlex="" fxFlexAlign="end end" style="text-align: right; font-size:75%">
      <span *ngIf="!(authState | async).authenticated" routerLink="/login" style="cursor: pointer;">Login</span>
      <span *ngIf="(authState | async).authenticated" style="cursor: pointer;" (click)="onLogout()">Logout</span>
  </div>
</mat-toolbar>
